.header {
    max-width: 100vw;
    background-color: var(--surface-color);
}


.header_list {
    list-style: none;
    color: var(--text-main);
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1.5rem;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 8px;
}
button.nav_link,
.nav_link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    padding: 10px;
    background-color: var(--link-color);
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.nav_link.logo {
    display: inline-block; /* transform doesnt work on inline elements */
    border: 1px solid var(--btn-bg-color);
    background-color: transparent;
    padding: 5px;
    border-radius: 4px;
    color: var(--btn-bg-color);
}

.nav_link:hover {
    transform: scale(1.05);
}

.nav_link.register {
    background-color: var(--btn-bg-color);
    color: var(--bg-color);
}

.avatar {
    margin-right: 1rem;
}

.avatar img {
    display: block;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.user_section {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
}

.user_section > :first-child {
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}


.user_actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: left;
    min-width: 100px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4%;
}

.user_actions > button, .user_actions > a {
    color: var(--text-main);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.user_actions > a {
    text-decoration: none;
    color: var(--text-main);
}

.user_actions *:hover {
    background-color: var(--input-bg-color-hover);
}

.user_actions * {
    text-align: left;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
}