.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: var(--surface-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 95%;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

@media (max-width: 480px) {
    .modal {
        padding: 15px;
        width: 98%;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 100%;
    }
}

.closeButton {
    color: inherit;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}