
.password_input {
    position: relative;
    width: fit-content;
}

.password_input svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}