.guest_list {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 16px;
    border: 2px solid rgba(100, 255, 218, 0.2);
    border-radius: 8px;
    background-color: rgba(52, 76, 149, 0.4);
}

.empty {
    padding: 16px;
    text-align: center;
    color: var(--text-secondary);
    font-style: italic;
}
