:root {
    --cerulean-blue: #3951d3;
    --bg-color: #0e1d33;
    --input-bg-color: #344c95;
    --btn-bg-color: #64ffda;
    --border-color: #0e1d33;
    --surface-color: #193457;
    --malibu: #99c0f8;
    --link-color: #236fd1;
    --steel-blue: #5983c0;
    --text-main: #ccd6f6;
    --font-family: Inter, sans-serif;
    --text-muted: #8892b0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
}