.title {
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
}



.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}



.error {
    color: red;
    font-size: 14px;
}