.container {
    padding: 20px;
    min-width: min(300px, 100%);
}

.title {
    margin-bottom: 15px;
    color: var(--text-main);
    font-size: 1.5em;
    font-weight: bold;
}

.description {
    margin-bottom: 15px;
    color: var(--text-muted);
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
