.sidebar {
  width: 200px;
  padding: 16px;
  border-right: rgba(34, 211, 238, 0.3) 1px solid;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.sidebar.open {
  width: 200px;
  opacity: 1;
  padding: 16px;
}

.sidebar.closed {
  width: 0;
  opacity: 0;
  padding: 0;
  border-right: none;
}

.calendarItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.collapsibleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  user-select: none;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: rotate(-90deg);
  font-size: 0.8em;
}

.arrowDown {
  transform: rotate(0deg);
}

.collapsibleContent {
  padding-left: 8px;
  margin-top: 8px;
}

.calendar_details {
    cursor: pointer;
}

